<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Strategy</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon.ico">
</head>
<body>
    <a href="/">Back</a><br/><br/>

    <table style="font-size:32px;">
        {% for stock in stocks %}
        <tr>
            <td><a href="data/{{stock.stock.code}}">{{stock.stock.cnname}}</a></td>
            <td><a href="dataplot/{{stock.stock.code}}?accu=False">Plot SMA</a></td>
            {% if not stock.stock.is_index %}
            <td><a href="dataplot/{{stock.stock.code}}?sma=False">Plot Accu</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td><a href="datapyfolio/{{stock.stock.code}}">PyFolio</a></td>
            <td style="padding-left:15px;">{{stock.date}}</td>
            <td style="text-align:right;padding-left:15px;">{{stock.close_today}}</td>
            <td style="color:{{stock.change_rate_color}};text-align:right;padding-left:15px;">{{stock.change_rate}}</td>
        </tr>
        {% endfor %}
        <tr><td><a href="data/north_all">North All</a></td></Tr>
        <tr><td><a href="data/north_sh">North Shanghai</a></td></Tr>
        <tr><td><a href="data/north_sz">North Shenzhen</a></td></Tr>
        <tr><td><a href="data/investigation?reverse=False">Investigation</a></td></Tr>
    </table>



</body>
</html>