<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Strategy</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon.ico">
    <style>
        td {text-align: right;}
    </style>
</head>
<body>
    <a href="/">Back</a><br/><br/>
    {% if stock %}
    <p>{{stock.cnname}}</p>
    {% endif %}
    <p>{{stock_code}}</p>
    <table border="1" cellspacing="0">
    {% for line in lines %}
        <tr>
            <td>{{loop.index-1}}</td>
            {% for cell in line %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>